<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://enpfeff.com:3306/KALOKO_DB</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">enpfeff</property>
    <property name="connection.password">re86uvin</property>
    <property name="connection.datasource">java:/comp/env/jdbc/testDB</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
      <mapping class="com.kaloko.model.User"/>
      <mapping class="com.kaloko.model.User"/>
      <mapping class="com.kaloko.model.View"/>
      <mapping class="com.kaloko.model.Roles"/>
      <mapping class="com.kaloko.model.UserRoles"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>


</hibernate-configuration>
        <!-- connection information -->
